.container {
  padding: 15px;
  margin: auto;
  background-color: #e8e8e8;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header h1 {
  font-size: 33px;
  margin: 30px auto;
  display: block;
  border-bottom: 1px solid #000;
}

#card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#card-wrapper .notice {
  font-size: 35px;
  color: black;
}
#card-wrapper .card {
  width: 29%;
  margin: 0.5%;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
@media screen and (max-width: 1366px) {
  #card-wrapper .card {
    width: 47%;
  }
}
@media screen and (max-width: 768px) {
  #card-wrapper .card {
    width: 100%;
    margin: 15px auto;
  }
}
#card-wrapper .card .description {
  padding: 15px 0;
  background: #e9e9e9;
  border-radius: 5px;
  padding: 10px;
  line-height: 20px;
  font-size: 14px;
  margin-top: 15px;
}
#card-wrapper .card .description h4 {
  margin-bottom: 15px;
}
#card-wrapper .card .description a {
  display: block;
  margin-top: 30px;
}
#card-wrapper .card .title {
  font-size: 25px;
  margin-bottom: 15px;
}
#card-wrapper .card .img img {
  width: 100%;
}

#mothText {
  width: 100%;
  height: 30px;
}

.filterButton {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h5 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #444;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calendar-item {
  width: 20%;
  min-height: 30vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1024px) {
  .calendar-item {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .calendar-item {
    width: 50%;
  }
}
.calendar-item .calendar-title {
  text-align: center;
  padding: 10px;
}

.mouthOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.searchButton {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #444;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 5px 10px;
  cursor: pointer;
}
.searchButton.active {
  background-color: rgba(var(--bs-primary-rgb));
  color: #fff;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.dialog-bg {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
  overflow: auto;
}
.dialog-bg .dialog {
  width: 100%;
  max-width: 988px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
.dialog-bg .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  background-color: #fff;
  padding: 5px;
  z-index: 10;
  width: 50px;
  cursor: pointer;
  text-align: center;
}

.dialogOpen {
  cursor: pointer;
}

.spinner-border {
  margin: auto;
}

.dialog-body h2 {
  margin-top: 20px;
}
.dialog-body h3 {
  margin-top: 20px;
}